#Geral {
    display: flex;
}
body {
    margin: 0px;
    padding: 0px;
}

#lateral {
    padding-bottom: 18px;
    padding-top: 18px;
    display: flex;
    flex-direction: column;
    left: 0px;
    top: 0px;
    width: 229px;
    height: 915px;
    background-color: #0c1018;
    position: sticky;
    top: 0;
}
#lateral-superior {
    width: 197px;
    height: 59px;
    padding-top: 0px;
    padding-bottom: 18px;
    padding-left: 16px;
    padding-right:16px ;    
    border-bottom: 1px solid rgb(255 255 255 / 7%);
    margin-bottom: 8px;
}
#lateral-superior div {
    display: flex;
    align-items: center;
}
h2 {
    font-size: 32px;
    color: #fff;
    margin-left: 8px;
}
#lateral-superior div h2 {
    font-size: 32px;
    color: #fff;
}
#lateral-superior div span {
    font-size: 32px;
    color: hsl(210,82%,58%);
}
#lateral-superior div h2 {
    margin-bottom: 5px;
}
#Logo-de-professor {
    display: inline-flex;
    font-size: 12px;
    color: #fff;
    margin-left: 8px;
    align-items: center;
    margin-top: 3px;
    background-color: hsl(210deg 82% 58% / 15%);
    color: hsl(210,82%,58%);
    letter-spacing: 0.7px;
    text-align: center;
    border-radius: 10px;
    padding-top: 3px;
    padding-right: 8px;
    padding-bottom: 3px;
    padding-left: 8px;
    width: 75px;
}
#VGABF {
    padding-top: 2px;
    padding-right: 8px;
    padding-bottom: 2px;
    padding-left: 8px;
    margin-bottom: 4px;
}
#painel {
    font-weight: 700;
    font-size: 14px;
    color: #3d4d61;
    margin-bottom: 4px;
    letter-spacing: 0.5px;
    border-radius: 10px;

}
.VGABF {
    padding-top: 0px;
    padding-right: 8px;
    padding-bottom: 0px;
    padding-left: 16px;
}
.VGABF div {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}
.VGABF div button {
    width: 220px;
    height: 36px;
    background: #0c1018;
    color: #7a8699;
    padding: 10px;
    border-radius: 8px;
    border: none;
}
.VGABF div button:hover {
    background: hsl(210deg 82% 58% / 15%);
    color: white;
    border:1px solid hsl(210,82%,58%);
    cursor: pointer;
    transform: scale(1.02);
    transition: all 0.5s;
}
#sistema { 
    margin: auto;
    padding-top: 6px;
}
#configuracao {
    width: 220px;
    height: 36px;
    background: #0c1018;
    color: #7a8699;
    padding: 10px;
    border-radius: 8px;
    border: none;
}
#configuracao:hover {
    background: hsl(210deg 82% 58% / 15%);
    color: white;
    border:1px solid hsl(210,82%,58%);
    cursor: pointer;
    transform: scale(1.02);
    transition: all 0.5s;
}
.lateral-inferior {
    padding: 7px;
    border-top: 1px solid rgb(255 255 255 / 7%);
}

.Usuario {
    display: flex;      

}
#foto {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #0062ff;
    margin-right: 8px;
}
#foto p {
    color: white;
    font-size: 16px;
    font-weight: 700;
}
#bisao {
background: hsl(210deg 82% 58% / 15%);
    color: white;
    border:1px solid hsl(210,82%,58%);
    cursor: pointer;
    transform: scale(1.02);
    transition: all 0.5s;
}
#bisao:hover {
    cursor: unset;
}

/*Faz o conteudo ocupar o espaço restante da tela, e adiciona um fundo escuro*/
#conteudo {
    flex: 1;
    background-color: #080b12 ;
    padding: 20px;
    padding-top: 18px;
    padding-left: 40px;
}
#conteudo-superior p {
    color: #7a8699;
    margin-top: 7px;
}
span {
    color: white;
}
h1 {
    color:hsl(210,82%,58%) ;
        margin-top: 7px;
        margin-bottom: 5px;
}
#Informacoes {
    /*O grid seria uma forma de organizar os elementos em uma grade nesse caso tá para coluna, mas se eu coloca-se mais divs ele ficaria como uma especie de grade*/
    display: grid;
    /*Isso aqui serve para deixar os grupos em uma linha reta e a cada 4 itens ele vai deixar a coluna naquele jeito o "0fr" aparentemente seria tipo o gap só que para o grid não entendi bem a função*/
    grid-template-columns: repeat(4, 0fr);
    gap: 10px;
    margin-bottom: 20px;
}
.Grupos {
    background-color: #111520;
    border: 1px solid #7a8699;
    border-radius: 7px;
    padding: 10px;
    margin-top: 3px;
    display: flex;
    min-height: 70px;
    width: 157px;
}
.Grupos h5 {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 3px;
    color: #3D4D61;
    font-size: 13px;

}
.Grupos h3 {
    margin: 0px;
    color: #3D4D61;
    font-size: 30px;
}
#turmas {
background: hsl(210deg 82% 58% / 15%);
    color: white;
    border:1px solid hsl(210,82%,58%);
    cursor: pointer;
    transform: scale(1.02);
    transition: all 0.5s;
}
#turmas:hover {
    cursor: unset;
}
.Grupos div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#voltar:hover {
    color: white;
    cursor: pointer;
}   
.Cards {
background: #111520;
    border: 1px solid rgb(255 255 255 / 7%);
    border-radius: 13px;
    padding: 17px;
    cursor: pointer;
    margin-bottom: 9px;
}
#top-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}
.Estado {
    background: rgb(52 211 153 / 12%);
    color: #34d399;
    padding: 8px;
    border-radius: 20px;
    text-align: center;
    text-transform: smaller;
}
.Duvidas {
    background: #111520;
    border: 1px solid rgb(255 255 255 / 7%);
    border-left: 3px solid hsl(210,82%,58%);
    padding: 11px;
    display: flex;
    align-items: flex-start;
    gap: 9px;
    margin-bottom: 8px;
    border-radius: 10px;
}
.Duvidas:hover{
    cursor: pointer;
    transition: .2;
    border-color: hsl(210,82%,58%);
}
#Pontinho {
    width: 7px;
    height: 7px;
    background-color: hsl(210,82%,58%);
    border-radius: 50%;
    margin-top: 8px;
}
#Top-duvidas {
    flex: 1;
}

