:root {
    --cor-fundo-principal: #080b12;
    --cor-fundo-secundario: #0c1018;

    --cor-branco: #fff;
    --cor-texto: #e4e9f4;
    --cor-texto-secundario: #7a8699;
    --cor-texto-fraco: #3d4d61;

    --cor-vermelho: rgb(236, 60, 60);
    --cor-vermelho-claro: #f87171;
    --cor-vermelho-transparente: hsl(0deg 82% 58% / 16%);

    --cor-azul: #0062ff;

    --cor-borda: rgb(255 255 255 / 7%);
}

#Geral {
    display: flex;
}
body {
    margin: 0px;
    padding: 0px;
}

#lateral {
    padding-bottom: 18px;
    padding-top: 18px;
    display: flex;
    flex-direction: column;
    left: 0px;
    top: 0px;
    width: 229px;
    height: 915px;
    background-color: var(--cor-fundo-secundario);
    position: sticky;
    top: 0;
}
#lateral-superior {
    width: 197px;
    height: 59px;
    padding-top: 0px;
    padding-bottom: 18px;
    padding-left: 16px;
    padding-right:16px ;
    border-bottom: 1px solid var(--cor-borda);
    margin-bottom: 8px;
}
#lateral-superior div {
    display: flex;
    align-items: center;
}
h2 {
    font-size: 32px;
    color: var(--cor-branco);
    margin-left: 8px;
}
#lateral-superior div h2 {
    font-size: 32px;
    color: var(--cor-branco);
}
#lateral-superior div span {
    font-size: 32px;
    color: var(--cor-vermelho);
}
#lateral-superior div h2 {
    margin-bottom: 5px;
}
.lateral-inferior {
    padding: 7px;
    border-top: 1px solid var(--cor-borda);
}
#VGABF {
    padding-top: 2px;
    padding-right: 8px;
    padding-bottom: 2px;
    padding-left: 8px;
    margin-bottom: 4px;
}
#painel {
    font-weight: 700;
    font-size: 14px;
    color: var(--cor-texto-fraco);
    margin-bottom: 4px;
    letter-spacing: 0.5px;
    border-radius: 10px;

}
.VGABF {
    padding-top: 0px;
    padding-right: 8px;
    padding-bottom: 0px;
    padding-left: 16px;
}
.VGABF div {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}
.VGABF div button {
    width: 220px;
    height: 36px;
    color: var(--cor-texto-secundario);
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: linear-gradient(to right, var(--cor-vermelho-transparente) 50%, var(--cor-fundo-secundario) 50%);
    background-size: 201% 100%;
    background-position: right;
    background-repeat: no-repeat;
    transition: background-position 1s ease;
}
.VGABF div button:hover {
    background-position: left;
    border:1px solid var(--cor-vermelho);
    color: white;
    cursor: pointer;
    transform: scale(1.02);
    transition: all 0.5s;
}
#sistema {
    margin: auto;
    padding-top: 6px;
}
.Usuario {
    display: flex;

}
#foto {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: var(--cor-azul);
    margin-right: 8px;
}
#foto p {
    color: white;
    font-size: 16px;
    font-weight: 700;
}
#Logo-de-professor {
    display: inline-flex;
    font-size: 12px;
    color: var(--cor-branco);
    margin-left: 8px;
    align-items: center;
    margin-top: 3px;
    background-color: var(--cor-vermelho-transparente);
    color: var(--cor-vermelho);
    letter-spacing: 0.7px;
    text-align: center;
    border-radius: 10px;
    padding-top: 3px;
    padding-right: 8px;
    padding-bottom: 3px;
    padding-left: 8px;
    width: 75px;
}
#configuracao {
    width: 220px;
    height: 36px;
    color: var(--cor-texto-secundario);
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: linear-gradient(to right, var(--cor-vermelho-transparente) 50%, var(--cor-fundo-secundario) 50%);
    background-size: 201% 100%;
    background-position: right;
    background-repeat: no-repeat;
    transition: background-position 1s ease;
}
#configuracao:hover {
    background-position: left;
    color: white;
    border:1px solid var(--cor-vermelho);
    cursor: pointer;
    transform: scale(1.02);
    transition: all 0.5s;
}
#voltar {
    margin-top: 31px;
    margin-bottom: 0px;
    margin-left: 30px;
    color: var(--cor-texto);
}
#voltar:hover {
    color: red;
    cursor: pointer;
}
#Biblioteca {
    background: var(--cor-vermelho-transparente);
    color: white;
    border:1px solid var(--cor-vermelho);
    cursor: pointer;
    transform: scale(1.02);
    transition: all 0.5s;
}
#Biblioteca:hover {
    cursor: unset;
}

/* Aqui é a outra parte no caso o conteúdo do site */
#conteudo {
    flex: 1;
    background-color: var(--cor-fundo-principal);
    padding: 20px;
    padding-top: 18px;
    padding-left: 40px;
}
#conteudo-superior p {
    color: var(--cor-texto-secundario);
    margin-top: 7px;
}
h1 {
    color:var(--cor-vermelho);
    margin-top: 7px;
    margin-bottom: 5px;
}

.Cursos {
    width: 145px;
    height: 36px;
    background: var(--cor-vermelho);
    color: var(--cor-branco);
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin-right: 10px;
}

#Link:hover {
    background: var(--cor-vermelho-transparente);
    color: white;
    border:1px solid var(--cor-vermelho);
    cursor: pointer;

}
#ArquivoModelo:hover {
    background: var(--cor-vermelho-transparente);
    color: white;
    border:1px solid var(--cor-vermelho);
    cursor: pointer;
}
#links{
 display:flex;
    flex-direction:row;
    gap:10px;
    margin-top:15px;
    max-width: 1000px;
     flex-wrap: wrap;
}
.card-link{
    display:flex;
    align-items:center;
    gap:5px;
    border:1px solid var(--cor-borda);
    background:var(--cor-fundo-secundario);
    border-radius:7px;
    height:50px;
    width:200px;
}

.icone-box{
    width:30px;
    height:30px;
    background:var(--cor-vermelho-transparente);
    margin:10px;
    border-radius:9px;
    border:1px solid var(--cor-vermelho);
    display:flex;
    justify-content:center;
    align-items:center;
}

.nome-link{
    color:var(--cor-texto);
    font-size:12px;
    text-decoration:none;
}

.excluir{
    color:var(--cor-vermelho-claro);
    margin-left:auto;
    margin-right:10px;
    cursor:pointer;
    font-weight:bold;
}

.excluir:hover{
    transform:scale(1.1);
}

#arquivos{
    display:flex;
    flex-direction:row;
    gap:10px;
    margin-top:15px;
    max-width: 1000px;
    flex-wrap: wrap;
}
.card-arquivo{
    display:flex;
    align-items:center;
    gap:5px;
    border:1px solid var(--cor-borda);
    background:var(--cor-fundo-secundario);
    border-radius:7px;
    height:50px;
    width: 1000px;
}

.nome-arquivo{
    margin-left: 25px;
    color:var(--cor-texto);
    font-size:15px;
    text-decoration:none;
}

.excluir{
    color:var(--cor-vermelho-claro);
    margin-left:auto;
    margin-right:20px;
    cursor:pointer;
    font-weight:bold;
}

.excluir:hover{
    transform:scale(1.1);
}